body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #888 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.calendar-container{
    background-color: aliceblue;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,3);
    overflow: hidden;
}
.month-name{
    margin: 0;
    background-color: #d2691e;
    color: white;
    padding:10px;
    font-size: 25px;
    font-weight: bold;

}

.day-name{
    font-size: 20px;
    color: darkgray ;

}
.day-number{
    margin: 0px;
    font-size: 75px;
    font-weight: bold;

}

.year{
    margin: 20px 0px;
    font-size: 20px;
    color: darkgrey;
    font-weight: bold;
}